<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Traffic Signs Recognition</title>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>



    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
</head>
<header>
    <section class="section">
        <div align="center" class="text1">
            <h1>🚦Traffic Signs Recognition🚦</h1>
        </div>
    </section>
    <marquee behavior="scroll" direction="left" scrollamount="12">Traffic Sign Recognition Project By Ashish Zope
    </marquee>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Accuracy</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            Project Flow Chart</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
            Losses
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image" src="https://gitlab.com/projectdb1/projectdb/-/raw/main/Accuracy%20Testting.png"
                        style="width: 100%" alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image1" src="https://gitlab.com/projectdb1/projectdb/-/raw/main/Flow%20Chart.png"
                        style="width: 100%" alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image2" src="https://gitlab.com/projectdb1/projectdb/-/raw/main/Losses%20Testting.png"
                        style="width: 100%" alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <div align="center" class="container">
        <div id="content" style="margin-top: 2em">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<footer align="center" style="background-color: powderblue">
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>