{% extends "base.html" %} {% block content %}

<h2 class="a1">Upload Traffic Signs</h2>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #2dcba7;
        color: black;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
</style>

<div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div >
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict Traffic Signs</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}