.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 3px solid #000000;
    box-shadow: 2px 2px 4px 0px rgba(66, 66, 66, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

.text1:hover {
    text-shadow: 2px 2px 2px rgb(0, 255, 98), 0 0 25px rgb(255, 238, 0),
        0 0 5px rgb(255, 0, 0);
}

.btn-primary {
    display: inline-block;
    padding: 12px 30px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: all 0.4s;
    cursor: pointer;
    background: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(156, 217, 255) 35%,
            #3894ab 100%);
    border: 1px solid #0f0f0f;
    border-radius: 20px;
    height: auto;
    width: auto;
    box-shadow: 3px 3px 3px 3px #545454;
}

.btn-primary:hover {
    background: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 35%,
            #fe8300 100%);
    color: #010101;
}

input[type="file"] {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 12px 30px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: all 0.4s;
    cursor: pointer;
    background: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(156, 217, 255) 35%,
            #3894ab 100%);
    border: 1px solid #0f0f0f;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #545454;
    font-weight: bold;
}

.upload-label:hover {
    background: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 35%,
            #fe8300 100%);
    color: #010101;
}

.loader {
    border-top: 8px solid #1c1425;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section {
    height: 22vh;
    width: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    background: radial-gradient(ellipse at center,
            rgb(147, 147, 147) 0%,
            rgb(71, 113, 168) 35%,
            #003f50 100%);
}

.text1 {
    margin-left: c;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: 100px;
    text-shadow: #0a0a0a;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 2px black, 0 0 25px rgb(2, 8, 57),
        0 0 5px rgb(0, 17, 255);
}

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(#2d54ff 0%, rgb(188, 233, 255) 35%, #98a5ff 100%);
    background-image: url('https://gitlab.com/projectdb1/projectdb/-/raw/main/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.a1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black, 0 0 25px rgb(2, 8, 57),
        0 0 5px rgb(35, 35, 35);
}

.h3,
h3 {
    font-size: 0.7cm;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black, 0 0 25px rgb(0, 29, 244),
        0 0 5px rgb(0, 234, 255);
}

/* ______________________________________________________________________________________________________________ */